.graph{
  width: 100%;
  height: 50vh;
  padding-left: 20px;
}

.graph span{
  display: block;
}

.spanone{
  width: 100%;  
  border-right: 2px solid blue;
  border-left: 1px solid white;
  padding: 5px;
  border-radius: 1px;
  color: white;
}
.span2{
  display: block;
  height: 14px;
  background-color: orange;
  border-radius: 20px;
  padding: 4px;
  padding-left: 10px;
}

.span3{
  height: 14px;
  display: block;
  background-color: rgb(37, 160, 53);
  border-radius: 20px;
  padding-left: 10px;
  padding: 4px;
}
p{
  color: white;
}
.span4{
  padding: 4px;
  height: 14px;
  display: block;
  background-color: rgb(180, 80, 80);
  border-radius: 20px;
  padding-left: 10px;
}

.span5{
  width: 50%;
  display: block;
  padding: 4px;
  background-color: rgb(201, 201, 75);
  border-radius: 20px;
  padding-left: 10px;
}

.spantwo{
  width: 100%;
  background-color: white;
  color: azure;
  border-radius: 20px;
}

.spanthree{
  width: 100%;
  background-color: beige;
  color: azure;
  border-radius: 20px;
}

.spanfour{
  width: 100%;
  background-color: white;
  color: azure;
  border-radius: 20px;
}

.spanfive{
  width: 100%;
  background-color: white;
  color: azure;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .graph{
  width: 100%;
  height: auto;
  padding-left: 20px;
}
}