.buttons{
    display: grid;
    justify-content: center;
    align-content: center;
    height: auto;
    grid-template-columns: repeat(15, 50px);
    grid-template-rows: minmax(50px, auto) repeat(7, 50px);
    padding: 20px;
    gap : 3px;
    text-align: center;
    background-color: blueviolet;
}

.buttons > .btn-key{
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    color: white;
}
.backspace{
    grid-column: span 2;
}

.tab{
    grid-column: span 2;
}

.caps-lock{
    grid-column: span 2;
}

.shift{
    grid-column: span 2;
}

.enter{
    grid-column: span 2;
}
.rt-shift{
    grid-column: span 3;
}
.space{
    grid-column: span 6;
}

.output{
    grid-column: span 15;
    grid-row: span 3;
    background-color: rgba(0, 0, 0, .4);
}