.test{
  height: 100vh;
  background-image: url("./wallpaperflare.com_wallpaper\ \(15\).jpg");
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.start{
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  float: left;
  width: 19vh;
}

.stop{
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  float: right;
  width: 19vh;
}

.textToDisplay{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  color: white;
}

@media only screen and (max-width: 600px) {
  .start, .stop{
    float: unset;
    width: 10vh;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .test{
    padding-top: 40px;
  }
}