nav{
  width: 100%;
  height: 100vh;
  background-color: #111;
  border-right: 1px solid white;
}

.block{
  visibility: visible;
}

.none{
  visibility: hidden;
}

header{
  background: rgb(25, 21, 42);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
  padding-bottom: 30vh;
  top: 0;
  height: 100%;
  position: fixed;
  background-position: center;
  background-size: cover;
  background-image: url(./wallpaperflare.com_wallpaper\ \(18\).jpg);
}

header a{
  padding: 20px;
  width: fit-content;
  background: rgba(0, 0, 0, 0.7);
  width: 70%;
  border-radius: 6px;
}

.breadcrumb{
  display: block;
  z-index: 12;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  background-color: #111;
}

header a:hover{
  background-color: aliceblue;
  color: black;
  transition: 1s;
}

@media only screen and (min-width: 600px) {
  
  header{
    display: none;
  }
  .breadcrumb{
    display: none;
  }
  
}