.half-content{
  height: 100vh;
}
h1 {
  text-shadow: 1px 1px 1px red,
               2px 2px 2px red;
  color: black;
}
.card-custom{
  /* box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  /* background: rgba(31, 29, 29, 0.767); */
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 15vw;
  padding: 30px;
}

.home{
  background-image: url('./lol.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  
  .card-custom{
    width: 100%;
    padding-top: 25vh;
    height: 100vh;
    margin: 5px;
  }
  
}